<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

{% if user.is_authenticated %}
<a href="/accounts/logout/">Logout</a>
{% else %}
<a href="/accounts/login/">Login</a>
{% endif %}<br>

<a href="/candidatesbulletin/">Candidates Bulletin</a><br>

<a href="/commonblog/">Common Blog</a><br>

<a href="/voting/">Cast Your Vote</a><br>

<a href="/voting/results/"></a><br>
<br>



<h3><strong>Candidate List</strong></h3>

<!-- General Secretary -->
<strong>General Secretary</strong><br><br>
{% if general_sec_I %}
	<strong>Year I</strong><br>
	{% for stud in general_sec_I %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if general_sec_II %}
	<strong>Year II</strong><br>
	{% for stud in general_sec_II %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if general_sec_III %}
	<strong>Year III</strong><br>
	{% for stud in general_sec_III %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if general_sec_IV %}
	<strong>Year IV</strong><br>
	{% for stud in general_sec_IV %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}
<br><br>

<!-- Cultural Secretary -->

<strong>Cultural Secretary</strong><br><br>
{% if cultural_sec_I %}
	<strong>Year I</strong><br>
	{% for stud in cultural_sec_I %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if cultural_sec_II %}
	<strong>Year II</strong><br>
	{% for stud in cultural_sec_II %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if cultural_sec_III %}
	<strong>Year III</strong><br>
	{% for stud in cultural_sec_III %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if cultural_sec_IV %}
	<strong>Year IV</strong><br>
	{% for stud in cultural_sec_IV %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}


<!-- Technical Secretary -->

<strong>Technical Secretary</strong><br><br>
{% if technical_sec_I %}
	<strong>Year I</strong><br>
	{% for stud in technical_sec_I %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if technical_sec_II %}
	<strong>Year II</strong><br>
	{% for stud in technical_sec_II %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if technical_sec_III %}
	<strong>Year III</strong><br>
	{% for stud in technical_sec_III %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if technical_sec_IV %}
	<strong>Year IV</strong><br>
	{% for stud in technical_sec_IV %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}


<!-- Sports Secretary -->

<strong>Sports Secretary</strong><br><br>
{% if sports_sec_I %}
	<strong>Year I</strong><br>
	{% for stud in sports_sec_I %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if sports_sec_II %}
	<strong>Year II</strong><br>
	{% for stud in sports_sec_II %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if sports_sec_III %}
	<strong>Year III</strong><br>
	{% for stud in sports_sec_III %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if sports_sec_IV %}
	<strong>Year IV</strong><br>
	{% for stud in sports_sec_IV %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}


<!-- Mess Secretary -->

<strong>Mess Secretary</strong><br><br>
{% if mess_sec_I %}
	<strong>Year I</strong><br>
	{% for stud in mess_sec_I %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if mess_sec_II %}
	<strong>Year II</strong><br>
	{% for stud in mess_sec_II %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if mess_sec_III %}
	<strong>Year III</strong><br>
	{% for stud in mess_sec_III %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if mess_sec_IV %}
	<strong>Year IV</strong><br>
	{% for stud in mess_sec_IV %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}


<!-- Environmental Secretary -->

<strong>Environmental Secretary</strong><br><br>
{% if environmental_sec_I %}
	<strong>Year I</strong><br>
	{% for stud in environmental_sec_I %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if environmental_sec_II %}
	<strong>Year II</strong><br>
	{% for stud in environmental_sec_II %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if environmental_sec_III %}
	<strong>Year III</strong><br>
	{% for stud in environmental_sec_III %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if environmental_sec_IV %}
	<strong>Year IV</strong><br>
	{% for stud in environmental_sec_IV %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}




<!-- Maintenace Secretary -->

<strong>Maintenace Secretary</strong><br><br>
{% if maintenance_sec_I %}
	<strong>Year I</strong><br>
	{% for stud in maintenance_sec_I %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if maintenance_sec_II %}
	<strong>Year II</strong><br>
	{% for stud in maintenance_sec_II %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if maintenance_sec_III %}
	<strong>Year III</strong><br>
	{% for stud in maintenance_sec_III %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if maintenance_sec_IV %}
	<strong>Year IV</strong><br>
	{% for stud in maintenance_sec_IV %}	
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}



<!-- Literary Secretary -->

<strong>Literary Secretary</strong><br><br>
{% if literary_sec_I %}
	<strong>Year I</strong><br>
	{% for stud in literary_sec_I %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if literary_sec_II %}
	<strong>Year II</strong><br>
	{% for stud in literary_sec_II %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if literary_sec_III %}
	<strong>Year III</strong><br>
	{% for stud in literary_sec_III %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}

{% if literary_sec_IV %}
	<strong>Year IV</strong><br>
	{% for stud in literary_sec_IV %}
		<strong>{{stud.student.firstname}} {{stud.student.lastname}}</strong><br>
	{% endfor %}<br>
{% endif %}




</body>
</html>