<!DOCTYPE html>
<html lang="en">
<head>

  <title>Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  <style>
  
  body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
       }
	 
  h2 {
    text-align: center;
}
  .container {
      padding: 80px 120px;
  }
   .nav-tabs li a {
      color: #777;
  }
  
 
    
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  
  .form-control {
      border-radius: 10px;
  }
  textarea {
      resize: none;
	  }
	  
	
  
  #col {background-color:#CFCBEF;
			border-radius: 7px;}
			
		
	
	footer {
      background-color: black;
      color: #f5f5f5;
      padding: 10px;
  }
  footer a {
      color: red;
  }
  footer a:hover {
      color: red;
      text-decoration: none;
  }  
  
  a:link, a:visited {
    background-color:grey;
    color: black;
    border: 2px solid white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: white;
    color: white; }
  </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
     
     <a class="navbar-brand" ><span class="glyphicon glyphicon-king"> INDIAN INSTITUTE OF TECHNOLOGY , PATNA</span></a>
	 
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-brand"> <span class="glyphicon glyphicon-user">Sign-Up</span></a></li>
       </ul>
    </div>
  </div>
</nav>

<div class="container">
  <br>
  <h2 id="col">REGISTRATION</h2>
  <br>
  <form class="form-horizontal" method="POST" action = "/accounts/register_result/">{% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-2">First Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="firstname" value="" size="10" placeholder="Enter First Name">
		{% if error_name %}
			{{ error_name }}
			{% endif %}
		</div>
		</div>
	<div class="form-group">
      <label class="control-label col-sm-2" ">Last Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="lastname" value="" size="10" placeholder="Enter Last Name">
		{% if error_name %}
			{{ error_name }}
			{% endif %}
      </div>
    </div>
	
	<div class="form-group">
    <label class="control-label col-sm-2">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" name="email" size="14" placeholder="Enter email : ________@iitp.ac.in">
	        {% if error_email %}
			{{  error_email }}
			{% elif email_exists %}
			{{ email_exists }}
			{% endif %}
    </div>
  </div>
  
  <div class="form-group">
      <label class="control-label col-sm-2">Roll No:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="rollno" value="" size="8" placeholder="Enter Roll No">
		{% if error_rollno %}
			{{  error_rollno }}
			{% endif %}
      </div>
    </div>
	
	<div class="form-group">
      <label class="control-label col-sm-2">Gender:</label>
      <div class="col-sm-10">
	   <label class="radio-inline">
      <input type="radio" name="gender" value="male">Male </label>
    <label class="radio-inline">
      <input type="radio" name="gender" value="female">Female </label>
	  <br>
		{% if error_gender %}
	        {{  error_gender}}
		    {% endif %}
      </div>
    </div>
	
	<div class="form-group">
      <label class="control-label col-sm-2" >Program:</label>
      <div class="col-sm-10">
	   <label class="radio-inline">
      <input type="radio" name="program" value="B.Tech">B.Tech</label>
    <label class="radio-inline">
      <input type="radio" name="program" value="M.Tech">M.Tech</label>
	  <label class="radio-inline">
      <input type="radio" name="program" value="PhD">PhD</label>
	  <br>
		{% if error_program %}
	        {{  error_program}}
		    {% endif %}
      </div>
    </div>
	
	<div class="form-group">
      <label class="control-label col-sm-2" >Department:</label>
      <div class="col-sm-10">
      <select class="form-control" name="department">
	    <option value=""></option>	
        <option value="cse">CSE</option>
        <option value="me">ME</option>
        <option value="ee">EE</option>
        <option value="ce">CE</option>
		<option value="ch">CH</option>
      </select>
		{% if error_department %}
	        {{  error_department}}
		    {% endif %}
      </div>
    </div>
	
	<div class="form-group">
      <label class="control-label col-sm-2" >Year:</label>
      <div class="col-sm-10">
      <select class="form-control" name="year">
	    <option value=""></option>	
        <option value="i">I</option>
        <option value="ii">II</option>
        <option value="iii">III</option>
        <option value="iv">IV</option>
      </select>
		{% if error_year %}
	        {{  error_year}}
		    {% endif %}
      </div>
    </div>
	
	<div class="form-group">
      <label class="control-label col-sm-2" name="password">Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" name="password" size="7" value="" placeholder="Enter password">
		{% if error_password %}
	        {{  error_password}}
		    {% endif %}
      </div>
    </div>
	
	<div class="form-group">
      <label class="control-label col-sm-2" for="pswd">Confirm Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" name="confirmpassword" size="7" value="" placeholder="Enter password again">
		{% if error_confirmpassword %}
	        {{  error_confirmpassword}}
		    {% endif %}
      </div>
    </div>
	
    
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-danger btn-lg" value="submit">Submit</button>
      </div>
    </div>
  </form>
</div>


<footer class="text-center">
  <a class="up-arrow" href="#myPage"  data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span></a><br><br>
	&emsp;
  <a href="demo.html" target="blank">Home page</a> 
  <a href="commonblog.html" target="blank" >Common Blog</a> 
  <a href="/accounts/register" target="blank" >Login</a> 
  </footer> 
  
 

</body>